
.Image {
  /*background: transparent;*/
  height: 50px;
  width: 50px;
}


.App { /*entire page modifications */
  background-image: linear-gradient(to bottom, rgba(75, 144, 214, 0.454), rgb(48, 143, 187));

  overflow: hidden;
  min-height: 1000px;
}


.Good{
  position: absolute;
  writing-mode: vertical-rl;
  top: 450px;
  left: 0;
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  font-size: 40px;
}

.App-Heading{
  position: static;
  font-size: 40px;
  padding-left: 55%;
  padding-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  color: transparent;
  font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.App-p{

  height: 80px;
  font-size: 25px;
  text-align: center;
  
}

.Happy {
  background: transparent;
  border:0;
  position: absolute;
  top: 450px;
  right: 900px;
  width: 200px;
  height: 100px;
}
.Happy img {
  max-width: 75%;
  height: auto;
}

.Angry {
  background: transparent;
  border:0;
  position: absolute;
  top: 420px;
  right: 700px;
  width: 200px;
  height: 85px;
}
.Angry img {
  max-width: 100%;
  height: auto;
}

.Sad {
  background: transparent;
  border:0;
  position: absolute;
  top: 445px;
  right: 500px;
  width: 200px;
  height: 80px;
}

.Sad img {
  max-width: 85%;
  height: auto;
}

.Dead {
  background: transparent;
  border:0;
  position: absolute;
  top: 450px;
  right: 320px;
  width: 200px;
  height: 200px;
}

.Dead img {
  max-width: 73%;
  height: auto;
}


.App-WelcomeGreeting{
  position: static;
  padding-top: 20px;
  font-size: 60px;
  text-align: center;
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  background: -webkit-linear-gradient(rgba(217, 216, 216, 0), rgb(222, 223, 222));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.App-Here{
  position: static;
  text-align: center;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: whitesmoke;
}


.caption{
  font-size: 1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -25px;
    
}
.dead-caption{
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  bottom: 15px;
  left:0px;
  right: 5px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  font-size: 20px;
  height: 55px;
  background-color: rgb(227, 227, 227);
  color: rgb(77, 31, 31);
  text-align: center;
}


